*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline:  none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input:-ms-clear{display: none;}
button{cursor: pointer;}
button: :-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
	background-color: #e8e8e8;
	margin: 50px;
}
.content {}
.content-list {
	font-family: Arial;
	font-size: 20px;
	line-height: 24px; 
}
.content-list li{
	padding: 0 0 10px 35px;
	color: #273d46;
}
.lifirst{
	text-decoration: line-through;
}
.lisecond{
	font-weight: 700;
}
.lithirst{
	font-style: italic;
}
.lifourth{
	text-transform: uppercase;
}
.lifirst:hover{
	text-decoration: none;
}
.lisecond:hover{
	color: #d55a5a;
	font-weight: 400;
}
.lisecond:hover:before{
	background: url('../img/check_icon_95.png') no-repeat;
}
.lithirst:hover{
	font-style: normal;
}
.lifourth:hover{
	text-transform: none;
}
.content-list li:before{
	content: '';
	background: url('../img/check_icon_39.png') no-repeat;
	padding: 0 0 0 27px;
}
.content-button span:after{
	content: '';
	background: url('../img/shape_2_7.png') right no-repeat;
	padding: 0 30px 0 15px;
}
.content-button {
	display: inline-block;
	background-color: #80b7b3;
	border-radius: 25px;
	font-family: Arial;
	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	padding: 0 30px 0 30px;
	margin: 120px 0 120px 35px;
}
.content-button:hover{
	background-color: #3a5856;
}
.content-button:active{
	background-color: #818181;
}
.usertext{
	width: 294px;
	height: 52px;
	border: 1px solid #b0b0b0;
}
.usertext:focus{
	width: 294px;
	height: 52px;
	border: 1px solid #7fbed5;
	box-shadow: 0px 0px 20px -1px rgba(127,190,213,0.93);
}
.content-text_first {
	font-family: Arial;
	font-size: 18px;
	line-height: 28px;
	width: 770px;
	margin: 50px 0 0 0;
}
.content-text_first:first-line{
	color: #ff0000;
}
.content-text_second {
	font-family: Arial;
	font-size: 18px;
	line-height: 28px;
	margin: 30px 0 0 0;
	width: 770px;
}
.content-text_second:first-letter{
	color: #ff0000;
}